@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

.aboutUs {
  margin: 150px 0;
  background-color: #479200;
  padding: 30px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.imgAbout {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;

}
.title {
  text-align: center;
  color: #000;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 30px 0;
}

.containerInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  gap: 30px;
}
.p{
  text-align: center;
}
.Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;
  padding: 0 20px;
  color: #000;
  font-weight: 300;
  max-width: 900px;
  margin-bottom: 40px;
  align-items: center;
}

.containerInfo2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 30px;

  width: 860px;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
    width: 55%;
    height: 300px;
    margin: auto;
}
.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 50px;
}
.imgContainer p {
  font-weight: 500;
}

.imgContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}

.h3 {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
    padding: 20px 0;
  }

  .containerInfo {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .Info {
    padding: 5px;
    min-width: 320px;
    gap: 15px;
    text-align: center;
  }
  .imgContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
    padding: 5px;
  }
  .imgContainer2 {
    padding: 10px;
    gap: 10px;
  }
  .imgAbout {
    width: 120px;
    height: 120px;
  }
  .Info p {
    font-size: 12px;
  }


  .containerInfo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 30px;

    width: 320px;
  }


.map {
    width: 100%;
    height: 200px;
  }
 
}
