.container {
  background-image: url("/backG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: fit-content;
  min-height: 100vh;
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -60px;
  left: auto;
}

.title {
  text-align: center;
  padding-top: 200px;
  color: #000;
  font-size: 20px;
  margin-bottom: 60px;
}

.navContent {
  backdrop-filter: blur(20px);
  z-index: -1;
  border-radius: 15px;
  background-color: #d4d4d415;
  border: 1px solid #0c0c0c6b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0 20px 0;
  margin: 10px auto;
  max-width: 900px;
}

.buttons {
  display: flex;
  gap: 20px;
  padding: 0 10px;
}

.buttons button {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 15px;
  border: 1px solid #0c0c0c6b;
  border-radius: 10px;
  padding: 5px 5px;
  cursor: pointer;
}

.inicialContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  backdrop-filter: blur(20px);
  z-index: -1;
  border-radius: 15px;
  background-color: #d4d4d415;
  border: 1px solid #0c0c0c6b;
  gap: 20px;
  margin: 20px auto;
  max-width: 900px;
  color: #000;
}
span {
  color: #000;
  font-weight: 600;
}

.btnLogout {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin: 20px auto;
  width: 80%;
}
.btnLogout button {
  background: none;
  border: none;
  cursor: pointer;
}
.logoutbtn {
  width: 12px;
  height: 12px;
}


@media (max-width: 1000px) {
  .buttons button {
    font-size: 9px;
  }

  .navContent {
    padding: 35px 0 20px 0;
    margin: auto 20px;
  }
  .buttons {
    display: flex;
    gap: 3px;
    padding: 0 10px;
  }
  .logo {
    width: 70px;
    height: 70px;
    top: -40px;
  }
  .container {
    background-image: url("/fondoM.png");
  }
  .title {
    padding-top: 200px;
  }
}
