html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.banner {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
    max-width: 100vw;   

}

.slider {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.slider img {
  height: auto;
  width: 100%;
  flex-shrink: 0;
  
}
.dots {
  justify-content: center;
  display: flex;
  align-items: center;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 2.5px;

  background-color: rgb(167, 242, 114);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.active {
  background-color: #247504;
  width: 25px;
  height: 12px;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.arrowLeft:hover,
.arrowRight:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}

@media (max-width: 768px) {

  .arrowLeft,
  .arrowRight {
    display: none;
  }

}
