.container {
  margin: 10px auto; ;
  max-width: 900px;
  border-radius: 13px;
  backdrop-filter: blur(20px);
  z-index: -1;
  background-color: #d4d4d415;
  border: 1px solid #0c0c0c6b;
  height: fit-content;
  padding: 20px 10px;

}

.title {
  text-align: center;
  color: #000;
  padding-bottom: 20px;
}

.search {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search input {
  border-radius: 13px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #0c0c0c6b;
  background: none;
  cursor: pointer;
  color: #000;
}

.search button {
  border-radius: 13px;
  padding: 5px 8px;
  width: 140px;
  background: none;
  border: 1px solid #0c0c0c6b;
  color: #000;
  cursor: pointer;
}

.containerItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  gap: 20px;
  margin: 5px 10px;
  height: 150px;
  padding: 5px 10px;
  border-radius: 13px;
  backdrop-filter: blur(20px);
  z-index: -1;
  background-color: #d4d4d415;
  border: 1px solid #0c0c0c6b;
}

.infoPedido {
  display: flex;
  gap: 10px;
}

.info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  color: #000;
  gap: 8px;
}

.productosPedido {
  max-height: 150px;
  width: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #0c0c0c6b;
  padding: 5px;
  border-radius: 13px;
  background-color: #d4d4d415;
}

.productosPedido ul {
  list-style: none;
}
.infoProducto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #000;
  font-size: 12px;
}

.productosPedido::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.productosPedido::-webkit-scrollbar-track {
  background: #f1f1f134;
}

.productosPedido::-webkit-scrollbar-thumb {
  background: #d0df0996;
  border-radius: 4px;
}

.productosPedido::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.resumen::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.resumen::-webkit-scrollbar-track {
  background: #f1f1f134;
}

.resumen::-webkit-scrollbar-thumb {
  background: #d0df0996;
  border-radius: 4px;
}

.resumen::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.containerItems::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.containerItems::-webkit-scrollbar-track {
  background: #f1f1f134;
}

.containerItems::-webkit-scrollbar-thumb {
  background: #d0df0996;
  border-radius: 4px;
}

.containerItems::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.resumen {
  background-color: blue;
  border-radius: 13px;
  backdrop-filter: blur(20px);
  z-index: -1;
  background-color: #d4d4d415;
  border: 1px solid #d4d4d46b;
  margin: 5px 10px;
  max-height: 250px;
  overflow-y: scroll;
}
.itemResumen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin: 5px 5px;
  color: #000;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #03030328;
  border-radius: 10px;
}



.none {
  text-align: center;
  padding: 10px 0;
}
.spinner {
  border: 4px solid #ccc;
  border-top: 4px solid #2ecc71;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 1rem auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 1000px){
  .container{
    margin: auto  20px ;
  }
}