.cartPreview {
  position: fixed;
  top: 125px;
  right: 0;
  width: 400px;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 8px 0 0 8px;
  border: 1px solid #005234;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.Container {
  max-height: 230px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 15px;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
/* Estilos del scroll para navegadores WebKit (Chrome, Edge, etc.) */
.Container::-webkit-scrollbar {
  width: 8px;
}

.Container::-webkit-scrollbar-track {
  background: transparent;
}

.Container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

.Container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.cartPreview h3 {
  font-size: 1.4rem;

  color: #333;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 12px 0;
  border-bottom: 1px solid #f1f1f1;
}

.cartItem p {
  margin: 0;
  color: #444;
  font-size: 0.95rem;
}

.cartItem p:first-child {
  font-weight: 600;
  color: #222;
}

.cartItem p:last-child {
  font-weight: bold;
  color: #b90003;
}

.titleAndClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleAndClose svg {
  cursor: pointer;
}
.btn {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 5px;
  border-radius: 13px;
  border: 1px solid #247504;
  margin-top: 5px;
  cursor: pointer;
  width: 100%;
}

.miniTab {
  position: fixed;
  top: 145px;
  right: 0;
  width: 30px;
  height: 80px;
  background-color: #fff;
  border: 1px solid #247504;
  border-radius: 8px 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.total {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
  color: #222;
  font-weight: 500;
  font-size: 15px;
}

.miniImage {
  width: 35px;
  height: 25px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.btnDelete {
  background: transparent;
  border: none;
  color: #005234;
  cursor: pointer;
  font-size: 1.2rem;
}
.emptyCartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.emptyCartIcon {
  font-size: 25px;
  color: #247504;
}

.animatedIcon {
  animation: bounce 1.5s infinite;
}

.emptyCartSub {
  font-size: 12px;
  text-align: center;
  padding-bottom: 15px;
}
.emptyCart {
  color: #333;
}

.shopButton {
  background-color: #247504;
  padding: 6px 15px;
  border-radius: 13px;
  color: #fff;
  border: none;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .cartItem p {
    font-size: 0.7rem;
  }

  .cartPreview {
    padding: 15px;
    width: 300px;
  }

  .cartPreview h3 {
    font-size: 1.2rem;
  }

  .btn {
    padding: 2px;
    font-size: 12px;
  }

  .total {
    font-size: 13px;
  }
}
