.zonaDetectada {
  font-size: 10px;
  margin: 20px 20px;
  color: #333;
  background-color: #e7f7ec;
  border-left: 4px solid #4caf50;
  padding: 6px 12px;
  border-radius: 5px;
  animation: fadeIn 0.3s ease-in-out;
}

.registerBtn {
  background-color: #005234;
  color: white;
  border: none;
padding: 5px 5px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
}

.registerBtn:disabled {
   background-color: #247504;
  cursor: not-allowed;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mp {
  width: 40px;
  height: 20px;
}
.ft {
  width: 20px;
  height: 20px;
}
.emptyCartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
}

.emptyCartIcon {
  font-size: 40px;
  color: #005234;
}

.animatedIcon {
  animation: bounce 1.5s infinite;
}

.emptyCart {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.emptyCartSub {
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
}

.shopButton {
  background-color: #247504;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 13px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shopButton:hover {
  background-color: #138496;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.customAlert {
  font-size: 10px;
}

.customIcon {
  font-size: 8px !important;
  width: 30px !important;
  height: 30px !important;
}
.inputEnvio select {
  width: 100%;
  padding: 0px;
 padding-left: 10px;
  height: 30px;
  background-color: #d4d4d415;
  backdrop-filter: blur(20px);
  border-radius: 0px;
  border: 1px solid #00000023;
  font-size: 12px;
  outline: none;
  transition: border-color 0.2s ease;

}

.Envio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  color: #000;
  gap: 10px;
}
.mañanaTardeContainer{
  display: flex;
  gap: 20px;
}
.inputEnvio {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputEnvio input {
  background: none;
  border: none;
  border-bottom: 1px dotted #00000023;
  color: #000;
}

.container {
  background-image: url("/backG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.title {
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: #005234;
  letter-spacing: 2px;
  transition: transform 0.3s ease;
}

.title:hover {
  transform: scale(1.08);
}
.containerCart {
  background-color: #d4d4d415;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid #00000023;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: min(100%, 800px);
  min-width: 345px;

  position: relative;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 30px;
  flex: 1;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  color: #000;
  font-size: 12px;
  font-weight: 200;
  width: 100%;
  flex: 1;
}

.cartItem p {
  flex: 1;
  font-weight: 600;
}

.total {
  display: flex;
  justify-content: flex-end;
  padding: 10px 40px;
  color: #000;
  gap: 20px;
  font-size: 12px;
text-align: center;
}
.containerDescuento{
  text-align: center;
  font-size:14px ;
}
hr {
  margin: 0 40px;
}

.btnEnvio {
  border-radius: 13px;
  padding: 5px 10px;
  background: none;
  background-color: #00ad3a;
  border: none;
  color: #ffff;
  box-shadow: inset 0 4px 4px #00000050;
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
}

.fullTotal {
  color: #000;
  font-size: 32px;
  text-align: end;
  padding: 0 40px;
}

.titlePago {
  color: #000;
  text-align: left;
  padding-left: 40px;
}

.containerPago {
  display: flex;
  justify-content: center;
  align-items: center ;
  color: #000;
  padding-left: 40px;
  gap: 40px;
}

.containerPagoInput {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 5px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  gap: 20px;
}
.btnContainer button {
  background: none;
  border: none;
  background-color: #247504;
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  width: 200px;
}

.btnDelete {
  background: transparent;
  border: none;
  color: #005234;
  cursor: pointer;
  font-size: 1rem;
}

.cantidades p {
  background-color: #b90003;
  border-radius: 13px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
}
.container .arrow {
  width: 30px;
  height: 30px;
  color: #000;

  margin-left: 10px;
  margin-top: 8px;
  cursor: pointer;
}

.customAlert {
  background-color: #d4d4d415;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid #d4d4d4d6;
  color: #000;
}

.customIcon {
  font-size: 10px;
  background-color: #b90003;
  text-align: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  z-index: 1;
}

.stepNumber {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fcd13d;
}

.completed .stepNumber {
  background-color: #247504;
  color: #000;
}

.step p {
  margin: 0;
  font-size: 14px;
}

.lineTime {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid #00000023;
  margin: 0 auto;
  width: min(100%, 800px);
  min-width: 345px;
  padding: 10px;
  color: #000;
}

.priceTotal {
  color: #005234;
  font-weight: 600;
}

.miniImage {
  width: 35px;
  height: 25px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.spanm {
  text-decoration: underline;
  cursor: pointer;
  color: #ff810d;
  font-size: 10px;
}

.PagoText {
  color: #000;
  font-size: 12px;
  font-weight: 400;
}

.containerEnvio {
  color: #000;
  letter-spacing: 1px;
  padding: 0 20px;
  font-size: 12px;
  background-color: #00523457;
}

/* ===== AÑADE ESTE CÓDIGO AL FINAL DE TU CSS ===== */
.zonaSelect {
  width: 100%;
  padding: 10px 0 10px 20px;
  margin-top: 5px;
  background-color: #333; 
  color: #000; 
  border: 1px solid #555;
  font-size: 1rem;
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
 
   border-radius: 0;

   background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
   background-repeat: no-repeat;
   background-position: right 10px top 50%;
   background-size: 12px auto;
  
}


.zonaSelect option {
  background-color: #333;
  color: #fff;
}

@media (max-width: 768px) {
  .containerEnvio {
    font-size: 9px;
  }

  .fullTotal {
    font-size: 18px;
  }
  .btnContainer {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    gap: 20px;
  }
  .btnContainer button {
    width: 150px;
  }
  .cart {
    padding: 10px 25px;
  }

  .cartItem {
    gap: 2px;
  }
  .Envio {
    flex-direction: column;
  }

  .envio {
    font-size: 13px;
  }

  .container {
      padding: 4px;
    min-height: 100vh;
  }

  .container .arrow {
    width: 30px;
    height: 30px;
  }

  .stepNumber {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }

  .step p {
    font-size: 12px;
  }
  .lineTime {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    border: 1px solid #d4d4d4d6;
    margin: 0 auto;
    width: min(100%, 800px);
    min-width: 345px;
    padding: 10px;
    color: #000;
  }

  .containerCart {
    width: min(100%, 800px);
    min-width: 345px;
  }

  .inputEnvio {
    justify-content: space-between;
    width: 100%;
  }

  .containerPagoInput {
    font-size: 13px;
  }
  .cart li p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
  }

  .zonaDetectada {
    font-size: 12px;
    margin: 5px 20px;
  }

  .emptyCart {
    font-size: 20px;
  }

  .emptyCartSub {
    font-size: 15px;
  }

  .shopButton {
    padding: 10px 25px;

    font-size: 12px;
  }

  .shopButton:hover {
    background-color: #138496;
  }

  .envioGratis{
    font-size: 12px;
  }
}
