@keyframes wobble {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(-5deg); }
  30% { transform: rotate(5deg); }
  45% { transform: rotate(-5deg); }
  60% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  background: linear-gradient(270deg, #810303, #855c03, #747c04, #264d02);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 1rem;
}

.img {
  width: 100px;
  height: 100px;
  animation: wobble 3s ease-in-out infinite;
}

.container {
  background-image: url("/backG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  animation: fadeInUp 1s ease-out;
}

.wrapper {
  max-width: 600px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.599);
  margin: 0 40px;
  padding: 2px 30px 10px;
  animation: fadeInUp 1.2s ease-out;
}

.message {
  font-size: 1rem;
  line-height: 1.8;
  color: #000;
  margin-top: 0.5rem;
}

.btn {
  background-color: #247504;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.phone {
  color: #ff8c42;
  font-weight: bold;
  font-size: 15px;
}

@media (max-width: 790px) {
  .container {
    background-image: url("/fondoM.png");
  }
}
