.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  background-color: #d4d4d415;
  border: 1px solid #0c0c0c6b;
  margin: 20px auto;
  max-width: 900px;

}

h2 {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  padding: 15px 0px;
}

.solicitudesList {
  list-style: none;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 400px;
  overflow-y: auto;
}
.solicitudItem {
  display: flex;
  font-size: 12px;
  border: 1px solid #0c0c0c6b;
  border-radius: 13px;
  padding: 5px;
  color: #000;
}
.solicitudInfo1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.solicitudInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 790px) {
  .container {
    padding: 10px;
  }
  .solicitudItem {
    font-size: 10px;

    font-weight: 300;
  }
  .solicitudesList {
    margin: 2px;
  }
}
