.registerBtn {
  background-color: #005234;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
}

.registerBtn:disabled {
  background-color: #247504;
  cursor: not-allowed;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-image: url("/backG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: fit-content;
  min-height: 100vh;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerLogin {
  background-image: url("/backG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 120px;
  height: 120px;
  position: relative;
  top: 50px;
  cursor: pointer;
}

.arrow {
  width: 35px;
  height: 35px;
  color: #000;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.containerRegister::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(20px);
  z-index: -1;
  border-radius: 15px;
  background-color: #ffffff38;
  border: 1px solid #00000023;
}

.title {
  color: #000;
  font-size: 35px;
  text-align: center;
}
.containerRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  position: relative;
  gap: 20px;
  padding: 40px 20px 0 40px;
}
.containerForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 380px;
}
.containerForm input {
  background: none;
  border: none;
  padding-left: 15px;
  height: 40px;
  width: 320px;
  border-radius: 13px;
  background-color: #d9d9d959;
  color: black;
  font-weight: 800;
  box-shadow: 0 3px 10px -3px black;
  font-size: 12px;
  font-weight: 300;
}

input:focus {
  outline: none;
  border: none;
}

input::placeholder {
  color: #000;
  font-size: 11px;
  font-weight: 400;
}

input:focus::placeholder {
  opacity: 0;
}

.login {
  color: #000;
  font-size: 12px;
  padding-bottom: 10px;
}

span {
  color: #f7f707;
  font-size: 12px;
}
span button {
  background: none;
  border: none;
  color: #005234;
  padding-left: 10px;
  cursor: pointer;
}

.passwordContainer {
  position: relative;
}

.btnEye1,
.btnEye2 {
  color: #000;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.openClose {
  opacity: 0;
  color: #000;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.errorText {
  color: #ff0000;
  font-size: 11px;
  max-width: 270px;
  padding-top: 5px;
  padding-left: 9px;
  display: flex;
}

.select {
  background: none;
  border: none;
  padding-left: 15px;
  height: 40px;
  width: 330px;
  background-color: #d9d9d959;
  color: black;
  box-shadow: 0 3px 10px -3px black;
  font-size: 12px;
  font-weight: 300;
  border-radius: 13px;
}

.select option {
  backdrop-filter: blur(20px);
  z-index: -1;
  background-color: #00ad3ae5;
  border: 1px solid #d4d4d46b;
}

.customAlert {
  background-color: #d4d4d415;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid #d4d4d4d6;
  color: #000;
}

@media (max-width: 768px) {
  .containerForm {
    gap: 10px;
    width: fit-content;
  }
  .select {
    width: 270px;
  }

  .containerForm input {
    width: 270px;
  }

  .title {
    font-size: 30px;
  }
  .arrow {
    width: 30px;
    height: 30px;

    left: 10px;
  }
  .logo {
    width: 110px;
    height: 110px;
  }
  .container {
    background-image: url("/fondoM.png");
  }
  .containerLogin {
    background-image: url("/fondoM.png");
  }
  .customAlert {
    font-size: 10px;
  }
}
